div
{
 border: 2px solid;
}
#navHeader
{

}
#homeLogo
{

}
.active
{

}
.tab-height
{
  height: auto;
}
.nav-tabs{
  background-color:##ffa700;
}
.tab-content{
    background-color:##ff6117;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: ##fb2b6a;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
