.clearfix {
clear:both;
}
p {
  background: red;
  color: white;
  border: 5px solid red;
  font-size: 25px;
}
html {
  background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);  
}
nav {
  background: orange;
}
nav li {
  float: left;
  list-style: none;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
}
nav li a {
  background-color: pink;
  display: block;
  padding: 10px 0;
  width: 130px;
  text-decoration: none;
  color: white;
}
nav ul {
  width: 100%;
  margin: auto;
}
nav li a:hover {
  color: orange;
  font-weight: bolder;
  background: white;
}
