/* CSS Document */

.row-spacing{
 padding-top:60px;
}
.slide-show{
  background-color: #4d4d4d;
  padding-top: 30px;
  padding-bottom: 30px;

}
.carousel-control.left, .carousel-control.right{
    background: #4d4d4d !important;
    filter: progid:none !important;>
}
#myCarousel
{
    background: #4d4d4d !important;
}
@media (max-width: @screen-xs) {
  car-height{
    height: 300px;
  }
}

@media (max-width: @screen-sm) {
  car-height{
    height: 400px;
  }
}
@media (max-width: @screen-xl) {
  car-height{
    height: 500px;
  }
}
